{% extends "base.html" %}

{% block title %}{{shopping_list.name}}{% endblock %}

{% block content %}
<h1>{{ shopping_list.list_name }}</h1>
    <p>Created on: {{ shopping_list.created_on }}</p>
    <p>Updated on: {{ shopping_list.updated_on }}</p>

    <h2>Your list</h2>
    <ul>
        {% for item in items %}
            <li>{{ item.label }} - Quantity: {{ item.quantity }}</li>
        {% empty %}
            <li>No items in this list.</li>
        {% endfor %}
    </ul>
    <form action="/add_item" method="post">{% csrf_token %}
        <input type="text" name="name">
        <input type="submit" value="Add">
    </form>
    <a href="{% url 'my_lists' %}">Back to all lists</a>
{% endblock %}
