<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shopping_list.list_name }}</title>
</head>

<body>
    <h1>{{ shopping_list.list_name }}</h1>
    <p>Created on: {{ shopping_list.created_on }}</p>
    <p>Updated on: {{ shopping_list.updated_on }}</p>

    <h2>Your list</h2>
    <ul>
        {% for item in items %}
            <li>{{ item.label }} - Quantity: {{ item.quantity }}</li>
        {% endfor %}
    </ul>
    <form action="/add_item" method="post">{% csrf_token %}
        <input type="text" name="name">
        <input type="submit" value="Add">
    </form>

</body>

</html>
